* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.main-cont {
    width: 80%;
    margin: auto;
    height: 90vh;
    border-radius: 1%;
    margin-top: 1%;
}

.navcomp-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcomp-img {
    height: auto;
    width: 200px;
    margin-top: -6px;
}

.navcomp-li {
    list-style: none;
    margin: 0px 3%;
}

.navcomp-ul {
    display: flex;
}

.links-cont {
    width: 30%;
}

.nav-btn {
    height: 2rem;
    width: 5rem;
}

span {
    margin: 0px 1rem
}

#hide {
    display: none;
}

#cheese {
    width: 300px;
    height: auto;
}

.show-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.show-wrapper>img {
    border-radius: 1%;
    margin: 1%;
}

.show-wrapper>h1 {
    font-size: 8rem;
    margin-left: 3%;
}

.stats-cont {
    width: 40%;
}

.popular {
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.index-img {
    background-image: url('/img/categories/index_photo.jpeg');
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%
}

.hero-index {
    color: whitesmoke;
    margin: 3% 5%;
    font-family: 'Lato', sans-serif;

    font-size: 8rem;

}

.index-background {
    background-color: black;
}

.index-wrapper {
    background-color: black;
}

.cat-title {
    font-size: 6rem;
    text-align: center;
    text-transform: capitalize;
}

.goat-photo {
    max-height: 60vh;
    width: auto;
    border-radius: 1%;
}

.goat-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goat-stats {
    font-size: 4rem;
    margin-left: 3rem;
    padding: 1rem;
    min-width: 60%;
}

.artist-image-show {
    max-height: 80vh;
    width: auto;
}

.artist-image-search {
    height: auto;
    max-width: 30%
}

.results-search-title {
    text-align: center;
}

.center-the-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-stat {
    font-size: 3rem;
    color: rgb(39, 39, 39);
}

/* .categorie-cont {
    display: flex;
} */

.cat-hero-cont {
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.artist-image-cat {
    max-height: 50vh;
    width: auto;
}

.rap-hero {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 30%;
    background-image: url('/img/categories/gucci.jpeg');
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.rnb-hero {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 30%;
    background-image: url('/img/categories/usher.jpeg');
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.pop-hero {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 30%;
    background-image: url('/img/categories/ariana.jpeg');
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.cat-hero-text {
    color: rgb(33, 23, 36);
    margin-top: 0.75rem;
    background-color: rgb(129, 47, 197);
    border-radius: 1rem;
    color: whitesmoke
}

.search-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.spotify-logo {
    width: 8rem;
    height: auto;
}

.search {
    width: 70%;
}

.spotify-cont {
    margin: -1.75%;
    text-align: center;
}

.about {
    font-size: 2rem;
    margin: auto;
    width: 80%;
    display: flex;
    border-radius: 2rem;
}

.about-1 {
    margin-right: 5%;
}

.about-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    margin-top: 10%;
}